$max-width: 1556px;
$percent-width: 88%;

// $desktop-large-width: 1920px;
// $desktop-large-height: 1080px;

// $desktop-medium-width2: 1366px;
// $desktop-medium-width: 1100px;
// $desktop-medium-height: 768px;

// $desktop-small-width: 960px;
// $desktop-small-height: 768px;

// $tablet-width: 860px;
// $tablet-height: 1024px;

// $phablet-width: 600px;
// $phablet-height: 960px;

// $smartphone-width: 400px;
// $smartphone-height: 640px;

$desktop-small-width: 1200px;
$desktop-medium-width: 1440px;
$desktop-large-width: 1920px;

$tablet-portrait-width: 768px;
$tablet-portrait-minwidth: 720px;
$tablet-portrait-maxwidth: 959px;

$tablet-landscape-width: 1024px;
$tablet-landscape-minwidth: 960px;
$tablet-landscape-maxwidth: 1199px;

$smartphone-portrait-minwidth: 320px;
$smartphone-portrait-maxwidth: 420px;

$smartphone-landscape-width: 568px;
$smartphone-landscape-large-width: 667px;
$smartphone-landscape-minwidth: 480px;
$smartphone-landscape-maxwidth: 719px;
