.shortcuts {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    @media screen and (min-width: $desktop-small-width) {
        margin-top: 4em;
        margin-bottom: 4em;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
    }
    .shortcut {
        width: 100 / 2 * 1%;
        text-align: center;
        box-sizing: border-box;
        @media screen and (min-width: $tablet-portrait-minwidth) {
            width: 100 / 3 * 1%;
        }
        @media screen and (min-width: $desktop-medium-width) {
            width: 100 / 6 * 1%;
        }
        a {
            padding: 1em;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            color: $color-white;
            width: auto;
            position: relative;
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            transition: all 400ms ease-in-out;
            .shortcut__icon {
                display: block;
                position: relative;
                z-index: 3;
                margin-bottom: 0.5em;
                @media screen and (min-width: $desktop-medium-width) {
                    margin-bottom: 1em;
                }
                svg {
                    transition: all 400ms ease-in-out;
                    fill: $color-white;
                    width: 5.6rem;
                    height: 5.6rem;
                    @media screen and (min-width: $desktop-medium-width) {
                        width: 8.0rem;
                        height: 8.0rem;
                    }
                }
            }
            .shortcut__front {
                opacity: 1;
                transition: opacity 400ms ease-in-out;
            }
            .shortcut__back {
                background-color: $color-white;
                position: absolute;
                width: 100%;
                padding: $spacing / 1.25 $spacing / 3 $spacing / 2 $spacing / 3;
                box-sizing: border-box;
                top: 50%;
                left: 50%;
                z-index: 88;
                pointer-events: none;
                opacity: 0;
                transform: translateX(-50%) translateY(-50%) scale(0);
                transition: all 400ms ease-in-out;
                transition-delay: 100ms;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                border-radius: 0.4rem;
                .shortcut__text, .shortcut__description {
                    color: $color-blue;
                }
                .shortcut__icon {
                    svg {
                        fill: $color-blue;
                        width: 8.4rem;
                        height: 8.4rem;
                        @media screen and (min-width: $desktop-medium-width) {
                            width: 12.0rem;
                            height: 12.0rem;
                        }
                    }
                }
            }
            .no-touch & {
                &:hover {
                    color: $color-cyan;
                    .shortcut__icon {
                        svg {
                            fill: $color-cyan;
                        }
                    }
                    .shortcut__front {
                        opacity: 0;
                    }
                    .shortcut__back {
                        opacity: 1;
                        transform: translateX(-50%) translateY(-50%) scale(1.1);
                        .shortcut__icon {
                            svg {
                                fill: $color-blue;
                            }
                        }
                    }
                }
            }
            &:focus {
                color: $color-cyan;
                .shortcut__icon {
                    svg {
                        fill: $color-cyan;
                    }
                }
                .shortcut__front {
                    opacity: 0;
                }
                .shortcut__back {
                    opacity: 1;
                    transform: translateX(-50%) translateY(-50%) scale(1.1);
                    .shortcut__icon {
                        svg {
                            fill: $color-blue;
                        }
                    }
                }
            }
            &.active {
                color: $color-cyan;
                .shortcut__front {
                    opacity: 0;
                }
                .shortcut__back {
                    opacity: 1;
                    transform: translateX(-50%) translateY(-50%) scale(1.1);
                    .shortcut__icon {
                        svg {
                            fill: $color-blue;
                        }
                    }
                }
            }
            &:active {
                transform: scale(0.9);
            }
        }
        .shortcut__text, .shortcut__description {
            display: block;
            margin-top: 0 !important;
        }
        .shortcut__text {
            @include h5;
            word-wrap: break-word;
            overflow-wrap: break-word;
            hyphens: auto;
            width: 100%;
            position: relative;
            z-index: 3;
        }
        .shortcut__description {
            @include h6;
            display: block;
            color: $color-black;
            width: 100%;
            position: relative;
            z-index: 3;
        }
        .shortcut__link {
            @include text-link;
            color: $color-blue-link;
            display: inline-block;
            border-bottom: 1px solid $color-yellow;
            transition: all 400ms ease-in-out;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            z-index: 3;
            margin-top: 0.5em;
            .icon {
                transition: color 400ms ease-in-out;
            }
            .no-touch & {
                &:hover {
                    border-color: $color-cyan;
                    .icon {
                        color: $color-cyan;
                    }
                }
            }
            &:focus {
                border-color: $color-cyan;
            }
            &:active {
                border-color: $color-cyan;
            }
        }
    }
}

.header__shortcuts {
    background-color: $color-blue;
    .shortcuts {
        margin-top: 0;
        @media screen and (min-width: $desktop-small-width) {
            margin-bottom: 9em;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: $spacing * 2;
            pointer-events: none;
            background-color: $color-white;
        }
        h2 {
            display: block;
            color: $color-white;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            padding-top: 1em;
            @media screen and (min-width: $desktop-small-width) {
                width: 69.25%;
            }
        }
        ul {
            background-color: $color-cyan;
            align-items: stretch;
            justify-content: stretch;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border: 0.1rem solid $color-blue-border;
            border-radius: 0.4rem;
            box-sizing: border-box;
            @media screen and (min-width: $tablet-portrait-minwidth) {
                border-radius: 0.4rem;
            }
        }
        .shortcut {
            background: $color-cyan;
            border-right: 0.1rem solid $color-blue-border;
            border-bottom: 0.1rem solid $color-blue-border;
            .shortcut__text, .shortcut__description {
                color: $color-blue;
            }
            .shortcut__text {
                @include h4;
            }
            &:first-child {
                border-top-left-radius: 0.4rem;
            }
            &:nth-child(2) {
                border-top-right-radius: 0.4rem;
            }
            &:nth-last-child(2) {
                border-bottom-left-radius: 0.4rem;
            }
            &:last-child {
                border-bottom-right-radius: 0.4rem;
            }
            &:nth-last-of-type(-n+2) {
                border-bottom: 0;
            }
            &:nth-child(even) {
                border-right: 0;
            }
            @media screen and (min-width: $tablet-portrait-minwidth) {
                border-right: 0.1rem solid $color-blue-border;
                &:nth-child(even) {
                    border-right: 0.1rem solid $color-blue-border;
                }
                border-bottom: 0.1rem solid $color-blue-border;
                &:nth-child(2) {
                    border-top-right-radius: 0;
                }
                &:nth-child(3) {
                    border-top-right-radius: 0.4rem;
                }
                &:nth-last-child(2) {
                    border-bottom-left-radius: 0;
                }
                &:nth-last-child(3) {
                    border-bottom-left-radius: 0.4rem;
                }
                &:nth-child(3n) {
                    border-right: 0;
                }
                &:nth-last-of-type(-n+3) {
                    border-bottom: 0;
                }
            }
            @media screen and (min-width: $desktop-medium-width) {
                border-right: 0.1rem solid $color-blue-border !important;
                border-bottom: 0 !important;
                &:nth-last-child(3) {
                    border-bottom-left-radius: 0;
                }
                &:nth-child(3) {
                    border-top-right-radius: 0;
                }
                &:last-child {
                    border-top-right-radius: 0.4rem;
                    border-right: 0 !important;
                }
            }
            a {
                padding: $spacing * 2 $spacing / 4 $spacing * 1.25 $spacing / 4;
                &:active {
                    transform: scale(1);
                }
            }
        }
    }
}