.text {
    // p {
    //     max-width: 85%;
    // }
    @include spacing--top(0.75);
    @include spacing--bottom(1);
    .text__linklist {
        list-style: none;
        padding: 0;
        margin: 0;
        &:not(:first-child) {
            @include spacing--top(0.5);
        }
        li {
            margin-bottom: 1.5em;
        }
    }
}